<template>
  <div id="parallax" data-relative-input="true" class="parallax-container">
    <div class="parallax-child" data-depth="0.1">
      <img :data-opt-src="background">
    </div>
    <div class="parallax-child" data-depth="0.4">
      <div  class="parallax-title"
            :class="getTitlePosition()"
            :rel="index" 
            v-if="titleActive == index" 
            v-for="(message, index) in messages">

          <p>
            {{message}}
          </p>
      </div>
    </div>
    <div class="parallax-child parallax-desk image-magazine" data-depth="0.9">
      <img :data-opt-src="desk">  
    </div>
  </div>
</template>

<script>
import Parallax from 'parallax-js';
import $ from 'jquery';
export default {
  name: 'parallax-header',
  data() {
    return {
      messages: this._props.title.split("|"),
      titleActive: 0,
    };
  },
  props: ['background','title',"desk"],
  mounted(){
    var scene = document.getElementById('parallax');
    var parallaxInstance = new Parallax(scene);
    var self = this;
    setInterval(function(){
      var randNum = self.generateRandom(0, self._data.messages.length - 1, self._data.titleActive);
      self._data.titleActive = randNum;
      console.log(self._data.titleActive);
    },5000);
  },
  methods : {
    generateRandom(min, max, except) {
      var num = Math.floor(Math.random() * (max - min + 1)) + min;
      return (num === except) ? this.generateRandom(min, max) : num;
    },

    getTitlePosition(){
      if(this.titleActive % 2 == 0){
        return "parallax-title--right";
      }
      return "parallax-title--left";
    }
  },
};

</script>

<style lang="scss" scoped>
    @import './src/scss/app.module.scss';
</style>