body{
    margin: 0;
    padding: 0;
    font-family: lato;
}

.parallaxHeader{
    overflow: hidden;
}

.parallax-container{
    height: 100vh;
    .parallax-child{
        height: 100%;
        width: 100%;
    }

    img{
        width: 110%;
        height: 110%;
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%,5%);
        object-fit: cover;
    }

    .parallax-desk img{
        max-width: 880px;
        margin-bottom: -30px;
        object-fit: contain;
        object-position: bottom;
    }

    .parallax-title {
        background-size: 100% 100%;
        padding: 1em;
        display: inline-block;
        font-size: 20px;
        position: absolute;
        top: 10%;
        text-align: center;

        &--right{
            background-image: url(../assets/images/speech-balloon-right.png);
            right: 15%;
        }

        &--left{
            background-image: url(../assets/images/speech-balloon-left.png);
            left: 15%;
        }
    }
}

.image-magazine img{
    -webkit-filter: drop-shadow(5px 5px 0 #fff) 
                    drop-shadow(-5px -5px 0 #fff) 
                    drop-shadow(0px 10px 5px rgba(0,0,0,0.5));

    filter: drop-shadow(5px 5px 0 #fff) 
            drop-shadow(-5px -5px 0 #fff) 
            drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
}

@media (max-width: 767px){

    .parallax-container .parallax-title{
        padding: 2em;
        top: 0;

        &--right{
            right: 0;
        }

        &--left{
            left: 0;
        }
    }
}

@media (max-width: 456px){
    .parallax-container .parallax-desk img{
        height: 380px;
        width: 550px;
        object-fit: cover;
        margin-bottom: -40px;
    }
}